{% load static %}

<footer class="footer-wrap">
  <div class="footer-top">
    <img
      src="{% static 'img/footer-shape-1.webp' %}"
      alt="Image"
      class="footer-shape-one md-none"
    />
    <img
      src="{% static 'img/footer-shape-2.webp' %}"
      alt="Image"
      class="footer-shape-two md-none"
    />
    <div class="container">
      <div class="row pt-100 pb-75">
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <div class="footer-widget">
            <a href="index-2.html" class="footer-logo">
              <img
                class="logo-light"
                src="{% static 'img/logo1.png' %}"
                alt="Image"
              />
              <img
                class="logo-dark"
                src="{% static 'img/logo1.png' %}"
                alt="Image"
              />
            </a>
            <p class="comp-desc">
              There are many variations of passages of Lorem Ipsum available,
              but majority suffered alteration in some form, by injected humour,
              orandomised words which don't look
            </p>
            <ul class="social-profile list-style">
              <li>
                <a href="https://facebook.com/" target="_blank">
                  <i class="ri-facebook-fill"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/" target="_blank">
                  <i class="ri-twitter-fill"></i>
                </a>
              </li>
              <li>
                <a href="https://linkedin.com/" target="_blank">
                  <i class="ri-linkedin-fill"></i>
                </a>
              </li>
              <li>
                <a href="https://instagram.com/" target="_blank">
                  <i class="ri-instagram-fill"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-6 col-sm-6">
          <div class="footer-widget">
            <h3 class="footer-widget-title">Quick Links</h3>
            <ul class="footer-menu list-style">
              <li>
                <a href="about.html"> About Us </a>
              </li>
              <li>
                <a href="contact.html"> Contact Us </a>
              </li>
              <li>
                <a href="privacy-policy.html"> Privacy Policy </a>
              </li>
              <li>
                <a href="terms-conditions.html"> Terms & Conditions </a>
              </li>
              <li>
                <a href="team.html"> Our Team </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xxl-3 col-xl-2 col-lg-2 col-md-6 col-sm-6 ps-xl-4">
          <div class="footer-widget">
            <h3 class="footer-widget-title">Services</h3>
            <ul class="footer-menu list-style">
              <li>
                <a href="services-one.html">Physiotherapy</a>
              </li>
              <li>
                <a href="services-one.html">Diagnostics</a>
              </li>
              <li>
                <a href="services-one.html">Manual Therapy</a>
              </li>
              <li>
                <a href="services-one.html">Massage Therapy</a>
              </li>
              <li>
                <a href="services-one.html">Rehabilitation</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 ps-xl-5">
          <div class="footer-widget">
            <h3 class="footer-widget-title">Contact Info</h3>
            <ul class="contact-info list-style">
              <li>
                <span>
                  <i class="ri-phone-fill"></i>
                </span>
                <a href="tel:8002162020">(800) 216 2020</a>
              </li>
              <li>
                <span>
                  <i class="ri-mail-fill"></i>
                </span>
                <a
                  href="https://templates.hibootstrap.com/cdn-cgi/l/email-protection#fa929f969695ba80939d95d4999597"
                  ><span
                    class="__cf_email__"
                    data-cfemail="036b666f6f6c43796a646c2d606c6e"
                    >[email&#160;protected]</span
                  ></a
                >
              </li>
              <li>
                <span>
                  <i class="ri-map-pin-2-fill"></i>
                </span>
                <p>No. 12, Ribon Building, Walse street, Australia</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p class="copyright-text">
    <i class="ri-copyright-line"></i><span>Made </span> with ❤️
    by Arvind 
    </p>
</footer>
