{% load static %}
<script
      data-cfasync="false"
      src="https://templates.hibootstrap.com/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"
    ></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/swiper.bundle.min.js' %}"></script>
    <script src="{% static 'js/aos.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script><script data-cfasync="false" src="https://templates.hibootstrap.com/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/swiper.bundle.min.js' %}"></script>
    <script src="{% static 'js/aos.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
    <script>
        // Get the div element with data-id="branding"
        const brandingDiv = document.querySelector('[data-id="branding"]');
    
        // Hide the div
        brandingDiv.style.display = 'none';
      </script>
      <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
      <script
      data-cfasync="false"
      src="https://templates.hibootstrap.com/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"
    ></script>
    
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/aos.js' %}"></script>
    <script src="{% static 'js/swiper.bundle.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script id="dsq-count-scr" src="//fitngo.disqus.com/count.js" async></script>