{% load static %}
<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/remixicon.css' %}" />
    <link rel="stylesheet" href="{% static 'css/flaticon_zigo.css' %}" />
    <link rel="stylesheet" href="{% static 'css/swiper.bundle.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/aos.css' %}" />
    <link rel="stylesheet" href="{% static 'css/header.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
    <link rel="stylesheet" href="{% static 'css/dark-theme.css' %}" />
    <title>Fit n GO - Physio</title>
    <link rel="icon" type="image/png" href="{% static 'img/favicon.webp' %}" />
  </head>
  <body>
    <div class="loader-wrapper">
      <div class="loader"></div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>

    <div class="switch-theme-mode">
      <label id="switch" class="switch">
        <input type="checkbox" onchange="toggleTheme()" id="slider" />
        <span class="slider round"></span>
      </label>
    </div>

    {% include "imports/header.html" %}

    <div class="breadcrumb-wrap">
      <img
        src="{% static 'img/br-shape-1.webp' %}"
        alt="Image"
        class="br-shape-one moveHorizontal"
      />
      <img
        src="{% static 'img/br-shape-2.webp' %}"
        alt="Image"
        class="br-shape-two animationFramesTwo"
      />
      <div class="container">
        <div class="breadcrumb-content">
          <h2>Blog Details</h2>
          <ul class="breadcrumb-menu list-style">
            <li><a href="index-2.html">Home</a></li>
            <li>Blog Details</li>
          </ul>
        </div>
      </div>k
    </div>
        <div class="row g-3 justify-content-center" style="
        padding: 78px;
        min-height">
          {% for post in posts %}
        <div class="col-12 card-col col-md-3">
          <div class="card overflow-hidden">
            <img
              class="card-img-top"
              src="{{ post.image.url }}"
              alt="Card image cap"
              style="object-fit:cover;
              height: 200px;
              "   
            />
            <div class="card-body">
              <h5 class="card-title">{{ post.title }}</h5>
              <p class="card-text">{{ post.summary }}...</p>
                <a href="{% url 'single_blog' post.id %}" class="btn-two" style=>Read More</a>
              <p class="card-text">
                <small class="text-muted"
                  >Last updated {{ post.pub_date|timesince }} ago</small
                >
              </p>
            </div>
          </div>
        </div>
          {% endfor %}
        
      <ul class="page-nav list-style">
        <li>
          {% if posts.has_previous %}
          <a href="?page={{ posts.previous_page_number }}"

            ><img
              src="{% static 'img/icons/left-arrow-2.svg' %}"
              alt="Image"
          /></a>
          {% endif %}
        </li>
        <li>{% for page_num in posts.paginator.page_range %}
          <a href="?page={{ page_num }}" {% if page_num == posts.number %}class="active"{% endif %}>{{ page_num }}</a>
        {% endfor %}
    </li>
        <li>    
          {% if posts.has_next %}

          <a href="?page={{ posts.next_page_number }}"
            ><img
              src="{% static 'img/icons/right-arrow-2.svg' %}"
              alt="Image"
          /></a>
          {% endif %}

        </li>
      </ul>
      </div>
    </div>
    {% include "imports/footer.html" %}

    <button
      type="button"
      id="backtotop"
      class="position-fixed text-center border-0 p-0"
    >
      <i class="ri-arrow-up-line"></i>
    </button>

    {% include 'imports/scripts.html' %}
  </body>
</html>