{% load static %}
<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/remixicon.css' %}" />
    <link rel="stylesheet" h  ref="{% static 'css/flaticon_zigo.css' %}" />
    <link rel="stylesheet" href="{% static 'css/swiper.bundle.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/aos.css' %}" />
    <link rel="stylesheet" href="{% static 'css/header.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
    <link rel="stylesheet" href="{% static 'css/dark-theme.css' %}" />
    <title>{{post.title }}</title>
    <link rel="icon" type="image/png" href="{% static 'img/favicon.webp' %}" />
  </head>
  <body>
    <div class="loader-wrapper">
      <div class="loader"></div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>

    <div class="switch-theme-mode">
      <label id="switch" class="switch">
        <input type="checkbox" onchange="toggleTheme()" id="slider" />
        <span class="slider round"></span>
      </label>
    </div>

    {% include "imports/header.html" %}
    

    <div class="breadcrumb-wrap">
      <img
        src="{% static 'img/br-shape-1.webp' %}"
        alt="Image"
        class="br-shape-one moveHorizontal"
      />
      <img
        src="{% static 'img/br-shape-2.webp' %}"
        alt="Image"
        class="br-shape-two animationFramesTwo"
      />
      <div class="container">
        <div class="breadcrumb-content">
          <h2>Blog Details</h2>
          <ul class="breadcrumb-menu list-style">
            <li><a href="index-2.html">Home</a></li>
            <li><a href="blog-left-sidebar.html">Blog</a></li>
            <li>Blog Details</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="blog-details-wrap ptb-100">
      <div class="container">
        <div class="row gx-5">
          <div class="col-xl-10 offset-xl-1 col-lg-10 offset-lg-1">
            <article>
              <div class="post-img">
                <img
                  src="{{post.image.url}}"
                  alt="Image"
                  style="
    height: inherit;
    width: 100%;
"
                />
              </div>
              <ul class="blog-metainfo list-style">
                <li>
                  <div>
                    {% for tag in post.tags.all %}
                      {{ tag.name }}
                    {% endfor %}
                  </div>
                </li>
                
                
                  <li><i class="ri-chat-3-line"></i>                   
                    <a href="{% url 'single_blog' post.id %}#disqus_thread"></a></li>
              </ul>
              <div class="blog-title" >
                <h2>Published Date-{{post.pub_date}}</h2>
                <h2>{{post.title}}</h2>
              </div>
              <div class="post-para">
                <p>
                  {{post.body}}
                </p>
              </div>
            </article>
            <div class="post-meta-option">
              <div class="row gx-0 align-items-center">
                <div class="col-md-7 col-12">
                  <div class="post-tag">
                    <span>Tags</span>
                    <ul class="tag-list-two list-style">
                      <li><p>{% for tag in post.tags.all %}
                        {{ tag.name }}
                    {% endfor %}
                    </p></li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-5 col-12 text-md-end text-start">
                  <div class="post-share w-100">
                    <span>Share</span>
                    <ul class="social-profile list-style">
                      <li>
                        <a href="https://facebook.com/">
                          <i class="ri-facebook-fill"></i>
                        </a>
                      </li>
                      <li>
                        <a href="https://twitter.com/">
                          <i class="ri-twitter-fill"></i>
                        </a>
                      </li>
                      <li>
                        <a href="https://linkedin.com/">
                          <i class="ri-linkedin-fill"></i>
                        </a>
                      </li>
                      <li>
                        <a href="https://instagram.com/">
                          <i class="ri-instagram-line"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            
            <div id="disqus_thread"></div>

          </div>
        </div>
      </div>
    </div>

    {% include "imports/footer.html" %}

    <button
      type="button"
      id="backtotop"
      class="position-fixed text-center border-0 p-0"
    >
      <i class="ri-arrow-up-line"></i>
    </button>

    <script
      data-cfasync="false"
      src="https://templates.hibootstrap.com/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"
    ></script>
    <script src="https://fitngo.disqus.com/embed.js" async></script>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/swiper.bundle.min.js' %}"></script>
    <script src="{% static 'js/aos.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script>
      var disqus_config = function () {
        this.page.url = "http://127.0.0.1:8000/blog/{{ post.id }}/";
        this.page.identifier = "{{ post.id }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };
      (function() {  
      var d = document, s = d.createElement('script');
      s.src = 'https://fitngo.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
  </script>
  </body>
</html>
